name: build

on:
  workflow_dispatch:
    inputs:
      version:
        default: 'latest'
        description: 'Package version'
        type: string
        required: true
  schedule:
    - cron: '0 0 4 * *'

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - name: Get Version
        id: get-version
        run: |
          if [ "${{ github.event_name }}" = "schedule" ]; then
            version="latest"
          else
            version=${{ github.event.inputs.version }}
          fi
          if [ "$version" = "latest" ]; then
            version=$(curl -sSL https://api.github.com/repos/pgvector/pgvector/tags | jq -r '.[0].name')
          fi
          if [ -z "$version" ] || [ "$version" == "null" ]; then
            echo "Failed to get latest version"
            exit 1
          fi

          echo "version=${version#v}" >> $GITHUB_OUTPUT

          echo ""
          echo "========== Build Args =========="
          echo "version=${version#v}"

  build:
    runs-on: ubuntu-latest
    needs: check
    env:
      version: ${{ needs.check.outputs.version }}
    strategy:
      fail-fast: false
      matrix:
        postgres: [14, 15, 16, 17, 18]

    steps:
      - uses: actions/checkout@v5
        with:
          repository: pgvector/pgvector
          ref: v${{ env.version }}

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare build
        run: |
          sed -i 's@FROM postgres@FROM ghcr.io/loong64/postgres@g' Dockerfile

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/loong64
          push: true
          build-args: |
            PG_MAJOR=${{ matrix.postgres }}
            DEBIAN_CODENAME=trixie
          tags: |
            ghcr.io/${{ github.repository_owner }}/pgvector/pgvector:pg${{ matrix.postgres }}
            ghcr.io/${{ github.repository_owner }}/pgvector/pgvector:${{ env.version }}-pg${{ matrix.postgres }}
          outputs: type=image,oci-mediatypes=true,compression=zstd,compression-level=3,force-compression=true
          cache-from: type=gha
          cache-to: type=gha,mode=max